body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
}
ul,
li {
  list-style-type: none;
  display: inline-block;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding 0 15px;
}
/* HEADER */
.header-nav {
  width: 452px;
  padding-top: 24px;
}
.header-nav-list {
  margin-left: 76px;
}

.header-nav-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 15px;
}
.header-nav-logo-blue {
  color: #2e2f42;
}

.header-nav-list-item-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-left: 40px;
}
.header-nav-list-item-link:hover {
  color: #404bbf;
}
.header-nav-list-item-link:active {
  color: #404bbf;
}
.header-nav-list-item-link:focus {
  color: #404bbf;
}
.header-adress {
  font-style: normal;
  text-align: right;
}

.header-adress-list-item-link {
  color: #434455;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-style: normal;
}
.header-adress-list-item-link:hover {
  color: #404bbf;
}
.header-adress-list-item-link:focus {
  color: #404bbf;
}

/* ======= HERO ======*/

.section-hero {
  background-color: #2e2f42;
 text-align: center;
}
.section-hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  padding-top: 188px;
  padding-bottom: 48px;
}
.section-hero-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
 text-align: center;
  width: 169px;
  height: 56px;
  border: 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
margin-bottom: 188px;
}
.section-hero-button:hover {
  background-color: #404bbf;
}
.section-hero-button:focus {
  background-color: #404bbf;
}
/* SOLUTIONS */
.solutions-hidden {
  visibility: hidden;
}
.solution-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.solution-list {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 15px;
}

.solution-list-item {
  width: 264px;
margin-right: 24px;
}
.solution-list-item-rigth {
  margin-right: 0;
}
.solution-list-item-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* OUR TEAM */
.section-team {
  background-color: #f4f4fd;
}
.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 72px;
}
.section-team-list {
  padding-left: 15px;
  padding-bottom: 120px;
}
.section-team-list-item {
  background-color: #ffffff;
  text-align: center;
  margin-right: 24px;
}
.team-list-item-right {
  margin-right: 0;
}
.team-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 32px;
  padding-bottom: 8px;
}
.team-list-item-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}

/* PORTFOLIO */
.portfolio-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 72px;
}
.portfolio-list {
  padding-left: 0;
}
.portfolio-list-item {
  border: 1px solid #e7e9fc;
  text-align: left;
  margin-right: 24px;
  margin-left: 0px;
margin-bottom: 48px;
}
.portfolio-list-item-right {
  margin-right: 0;
}
.portfolio-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 32px;
  padding-bottom: 8px;
padding-left: 16px;
}
.portfolio-list-item-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  padding-left: 16px;
  padding-bottom: 32px;
}

/* FOOTER */
.section-footer {
  background-color: #2e2f42;
  color: #ffffff;
padding-top: 100px;
padding-bottom: 100px;


}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-left: 15px;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-blue {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
margin-top: 16px;
margin-left: 15px;
}
