body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
}
ul,
li {
  list-style-type: none;
  display: inline-block;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  cursor: pointer;
  display: block;
}
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
}
.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-paddings {
  padding: 120px 0;
}

/* =======HEADER======= */

.container-header {
  display: flex;
  justify-content: space-between;
}
.header-main {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px grba(46, 47, 66, 0.08),
    0px 1px 1px rgba (46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
  gap: 40px;
}
.header-nav-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px 0;
  margin-right: 76px;
}
.header-nav-logo-blue {
  color: #2e2f42;
}
.header-nav-list-item-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-list-item-link:hover {
  color: #404bbf;
}
.header-nav-list-item-link:active {
  color: #404bbf;
}
.curent {
  position: relative;
}
.curent::after {
  content: "";
  position: absolute;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}
.header-nav-list-item-link:focus {
  color: #404bbf;
}
.header-adress {
  font-style: normal;
  margin-left: auto;
  padding: 24px 0;
}
.header-adress-list {
  display: flex;
  gap: 40px;
}
.header-adress-list-item-link {
  color: #434455;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-style: normal;
  padding: 24px 0;
  transition: color cubic-bezier(0.4, 0, 0.2, 1);
}
.header-adress-list-item-link:hover {
  color: #404bbf;
}
.header-adress-list-item-link:focus {
  color: #404bbf;
}

/* ======= HERO ======*/

.section-hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 188px 0 188px 0;
  max-width: 1440px;
  text-align: center;
}
.section-hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  max-width: 496px;
  padding-bottom: 48px;
  margin: 0 auto;
  display: block;
}
.section-hero-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
}
.section-hero-button:hover {
  background-color: #404bbf;
}
.section-hero-button:focus {
  background-color: #404bbf;
}

/* =======SOLUTION======= */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.solution-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.solution-list {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  max-width: 1128px;
}
.solution-list-item {
  max-width: 264px;
  width: calc((1128-3 * 24) / 4);
}
.solution-list-item-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ======OUR TEAM======= */

.section-team {
  background-color: #f4f4fd;
}
.section-team-list {
  display: flex;
  gap: 24px;
}
.section-team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: ;
}
.team-list-first {
  width: calc((1128-3 * 24) / 4);
}
.team-content {
  padding: 32px 0;
}
.team-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-list-item-text {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* =======PORTFOLIO======= */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  cursor: pointer;
}
.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* FOOTER */
.section-footer {
  background-color: #2e2f42;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
}
.footer-content {
  margin-right: 120px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}
.footer-logo-blue {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 16px;
}
.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.social-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  column-gap: 16px;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
